{% extends "layout.html" %}

{% block content %}
<div id="page-wrapper">
				
	<!-- Features -->
	<div id="features-wrapper">
		<div id="features">
			<div class="container">
				<div class="row">
					<div class="3u 12u(mobile)">
						<!-- Feature #1 -->
							<section>
								<h2>The problem</h2>
								<p>
									All countries in the world face challenges in devising strategies for clean power development but those developing, 
									where energy needs are not yet satisfied, face an even greater challenge. 
									
									A top priority in addressing these challenges is to characterize the <strong>uncertainty on future electricity demand </strong>
									and to understand the extent to which this demand can be impacted by public policy and technological development.
								</p>
							</section>
					</div>
					<div class="3u 12u(mobile)">
						<!-- Feature #2 -->
						<section>
							<h2>What is the goal of this project?</h2>
							<p>
								To project <strong>China’s electricity demand from the residential sector for the 2015-2050</strong> period at a provincial level, 
								under different demographic and socio-economic scenarios.
							</p>
						</section>
					</div>

					<div class="3u 12u(mobile)">
						<!-- Feature #4 -->
						<section>
							<h2>Why analyze China's power market?</h2>
							<p>
								Since 2011, <strong>China has surpassed the US in electricity consumption</strong> and became the country with the largest electricity consumption in the world.
								Now, the country faces a difficult tasks of developing an efficient, reliable, and clean electricity system 
								commensurate with its economic growth.
							</p>
						</section>
					</div>

					<div class="3u 12u(mobile)">
							<!-- Feature #3 -->
							<section>
								<h2>Why this work is important</h2>
								<p>
									This tool will be useful in the analysis of strategies to <strong>achieve reliable, efficient, 
											and  sustainable electricity</strong> systems in China. 
									If replicated, it can be used by other national and local governments to support their energy policies.
								</p>
							</section>
						</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Content -->
	<div id="content-wrapper">
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="9u 12u(mobile)">
					<!-- Box #1 -->
						<section>
							<header>
								<h2>Main Model</h2>
								<h3></h3>
							</header>
							<a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
							<p>
								The modeling framework developed is comprised of 4 models: 
								<ul>
									<li>a) dynamic systems model that estimates China’s population at a provincial level under different scenarios </li>
									<li>b) a regression model that projects, for each province, urbanization development as a function of economic growth </li>
									<li>c) a regression model that estimates penetration of electric appliances for each household under different scenarios of income growth. </li>
									<li>d) an integration model. </li>
								</ul>
								<img src="static/img/main_model.png" alt="econometric formulas" align="middle" style="width: 100%;" >

							</p>
						</section>
					</div>

					<div class="3u 12u(mobile)">
						<!-- Box #3 -->
						<section>
							<header>
								<h2>Contact Information</h2>
							</header>
							<ul class="quote-list">
								<li>
									<img style="max-width: 60px;" src="static/img/Mauricio-Hdez.jpg" alt="Mauricio Hernandez" />
									<span>Mauricio Hernanedz</span>
									<p>Data Analyst
									<br>
									<a href="http://mauricioh2.com">Personal Website</a>
									</p>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
